* {
    padding: 0;
    margin: 0;
    font-family: trebuchet ms;
    font-size: 18px;
}

body,
html {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

button {
    border: 0;
}

.LandingScreen,
.Content {
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    float: left;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LandingScreen {
    background-image: URL('moon.svg'), linear-gradient(#3a5470, #77385c);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 400px 400px, cover;
    color: #ffffff;
}

.PageContents * {
    float: left;
    width: 100%;
}

.PageContents {
    width: 100%;
    height: min-content;
    float: left;
}

.PageContents h1 {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.PageContents p,
.PageContents button {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
    font-family: Verdana;
}

.PageContents img {
    filter: drop-shadow(6px 6px 0px #b38bb1);
    margin-bottom: 20px;
    margin-top: 12px;
}

.LoadingScreen {
    height: 100vh;
    width: 100vw;
    float: left;
    position: fixed;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 12px;
    color: #333333;
}

.LoadingScreen img {
    height: 70px;
    width: 70px;
}

.PageContents button {
    margin-top: 30px;
    border: 10px solid;
    border-radius: 30px;
    float: left;
    width: 200px;
    margin-left: calc(50% - (200px + 10px)/2);
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    font-family: trebuchet ms;
}

.LandingScreen .PageContents button {
    background-color: #d6c780;
    color: #77385c;
    border-color: #d6c780;
}

.Content .PageContents button {
    background-color: #3f84a4;
    color: #ffffff;
    border-color: #3f84a4;
}

.Footer {
    width: 100vw;
    float: left;
}

.Footer button {
    width: 100%;
    padding: 12px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .LandingScreen,
    .Content {
        height: calc(100vh - 60px);
        width: 70vw;
        float: left;
        padding: 30px 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .PageContents h1 {
        font-size: 72px;
        margin-bottom: 26px;
        width: 100%;
    }
    .PageContents button {
        margin-top: 72px;
        margin-left: 0;
    }
    .PageContents * {
        width: auto;
        display: inline;
    }
    .Content .PageContents p,
    .Content .PageContents img {
        max-width: calc(50% - 80px);
        margin: 0px 40px;
        float: right;
        margin-top: 20px;
    }
    .PageContents img {
        filter: drop-shadow(12px 12px 0px #b38bb1);
    }
    .LandingScreen {
        background-size: 600px 600px, cover;
    }
    .LoadingScreen img {
        height: 100px;
        width: 100px;
    }
}